@charset "UTF-8";
body  {
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 15%;
	background-position: center top;
}
p {
	font-family: menlo, sans-serif;
}

.container {
	overflow: visible;
	padding-top: 20%;
	padding-bottom: 50%;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
}